<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.blog.mapper.BlogPostMapper">

    <select id="selectPagePostList" resultType="com.han.blog.domain.vo.BlogPostVo">
        SELECT
            p.post_id,
            p.title,
            p.slug,
            p.summary,
            p.cover_image,
            p.author_id,
            p.category_id,
            p.status,
            p.is_top,
            p.is_featured,
            p.allow_comment,
            p.password,
            p.source_type,
            p.source_url,
            p.seo_keywords,
            p.seo_description,
            p.published_time,
            p.last_comment_time,
            p.create_by,
            p.create_time,
            p.update_by,
            p.update_time,
            p.del_flag,
            u.nick_name AS author_name
        FROM blog_post p
        LEFT JOIN sys_user u ON p.author_id = u.user_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectSlugCount" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM blog_post
        WHERE slug = #{slug}
        <if test="excludePostId != null">
            AND post_id <![CDATA[<>]]> #{excludePostId}
        </if>
    </select>

</mapper>
