<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.blog.mapper.BlogPostMapper">

    <select id="selectPagePostList" resultType="com.han.blog.domain.vo.BlogPostVo">
        SELECT
            p.post_id, p.title, p.slug, p.summary, p.cover_image, p.author_id, p.category_id,
            p.status, p.is_top, p.is_featured, p.allow_comment, p.create_time, p.published_time,
            c.category_id as c_category_id,
            c.name as c_name,
            c.slug as c_slug
        FROM blog_post p
        LEFT JOIN blog_category c ON p.category_id = c.category_id
        ${ew.customSqlSegment}
    </select>

</mapper>
